.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.ma-0 {
    margin: 0;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}
.flex-shrink-0 {
    flex-shrink: 0;
}